@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
/* #card{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:20px;
    padding:30px;
    margin-bottom:10px;
    width:1000px;
    margin-left:130px;
    /* background-image:url("image"); */
/*}
.text{
    font-size:100px;
    line-height: 120px;
    color:#fff;
    padding:20px;
    /* margin-top:120px */
/*}
#data{
    float:right;
}
.myimage{
    height:100px;
    width:100px;
    margin-left:100px;
}
.btn{
    width:250px;
}
h4{
    color:rgba(17, 16, 16, 0.8);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* float:right; */
/*}
.app{
    color:#fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top:20px;
}
#firstdata{
    margin-top:15px;
}
.badge{
    background-color:#fff;
} */
/*----new */
.card{
    background-image:url('../assets/1.jpeg');
    height:400px;
    background:cover;
    padding:20px;
}
#Maintext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:400px;
    color:#fff;
    float:right;
}
#Maintext2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:400px;
    color:#fff;
    float:right;
    margin-left:100px;
}
#degree1{
    float:right;
    font-size: 40px;
    font-weight:300px;
}