/* You can add global styles to this file, and also import other style files */
body{
    margin-top:10px;
    background-color:#5CDB95; 
    /* background-color:#FFBD54;  */
    /* clip-path:0% 100% 80% 0; */
}
hr{
    background-color:#fff;
    padding:1px;
}